body,html{
  margin: 0;
  padding: 0;
  background-color: #292c33;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  background-color: #020203;
  align-items: center;
}

.nav-wrapper-left {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-left: 10px;
}

.nav-wrapper-left a{
  color: white;
}

.nav-mid {
  display: flex;
  align-items: center;
}

.nav-wrapper-right {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
}

.nav-link button {
  background-color: #292c33;
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 8px;
  color: white;
}

.nav-link button:hover {
  background-color: #383b42;
}

.nav-link button i {
  color: white;
}

.nav-wrapper-right a{
  color: white;
}

.run-button button {
  background-color: #753b01;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 8px;
}

.run-button button:hover {
  background-color: #d96d00;
}